<h2><%= @article.title %></h2>
<h3><%= @article.description %></h3>
<%= link_to "Edit",edit_article_path(@article) %>
<td><%= link_to "delete",article_path(article),method: :delete %></td>
<%= link_to "Go Back",articles_path %>