<table>
<tr>
<div class="show">
<td><h2>Created By :</h2></td>
<td><h2><%= @article.user.username %></h2></td>
</div>
</tr>
<tr>
<div class="show"> 
<td><h2>Title :</h1></td>
<td><h2><%= @article.title %></h2></td> 
</div>
</tr>
<tr>
<div class="show">
<td><h2>Description :</h2></td>
<td><h2><%= @article.description %></h2></td>
</div>
</tr>
</table>
<br><br><br>
<%= link_to "Edit",edit_article_path(@article) %> ||
<td><%= link_to "Delete",article_path(@article),method: :delete %></td> ||
<%= link_to "Go Back",articles_path %>