<h1><%= @user.username %>profile</h1>

<div class="users-show">
<%= gravatar_for @user, size: 200 %> <br>
<% if logged_in? && @user==current_user %>
<button> <%= link_to 'Edit Your Profile',edit_user_path(@user) %></button>
<button> <%= link_to 'Delete Your Profile',user_path(@user),method: :delete, data: { confirm: "Are you sure?"} %></button>
<% end %>
<h1>Articles</h1>
</div>

<%= render 'articles/article' %> 