
  <table class="app-table">
  <tr>
    <td><%= link_to "Articles",articles_path %></td>
    <td><%= link_to "Users",users_path %></td>
    <td>
    <% if logged_in? %>
    <td><%= link_to "Create Article",new_article_path %></td>
    <td><%= link_to current_user.username,user_path(current_user) %></td>
    <td><%= link_to "Log Out",logout_path,method: :delete %></td>
    <% else %>
    <%= link_to "User Log in",login_path %>
    <td><%= link_to "User Sign Up",signup_path %></td>
    <% end %>
    </td>
  </tr>
  </table>
  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
  <% end %>
